#Git ignorance file for variant validator
#Testing script
VariantValidator/vvTest.py
#pycs
VariantValidator/**/*.pyc
build
.idea
dist
variantValidator.egg-info
VariantValidator/testing/outputs*
.DS_Store

# backedup files after 2to3 conversion
*.bak
.eggs
Users
*.sql
*.pyc
temp.py

#ignore databases
seqrepo/*
.eggs/*
tests/*/*.pyc
/VariantValidator.egg-info/*
validator_2021-07-21.sql
VVTA_2021_2_noseq.psql.gz

