# Development

VariantValidator/vvTes[t].py

# Python

*.[p]yc
**pycache**/

# Build

[b]uild/
[d]ist/
*.[e]gg-info/
.[e]ggs/

# IDE

[.]idea/

# Testing and coverage

.[c]overage
htmlco[v]/
.[p]ytest_cache/
.[m]ypy_cache/
VariantValidator/testing/output[s]*

# Documentation

sit[e]/

# macOS

.[D]S_Store

# Temporary files

*.[b]ak
tem[p].py

# Local databases

seqrep[o]/
Use[r]s/
*.[s]ql
validator_2021-07-21.[s]ql
VVTA_2021_2_noseq.psql.[g]z

# LOVD HGVS Syntax Checker

VariantValidator/php/
