language: python

matrix:
  include:

    # Here you can add or remove specific builds, and Python versions. You
    # should currently be able to use Python 2.6, 2.7, or 3.3 or later. The
    # NUMPY and SCIPY versions are set here as an example, but you can
    # add/remove environment variables, and use them below during the install.

    - python: 3.6

services:
  - mysql
  - postgresql

addons:
  postgresql: "9.6"

env:
  - CODECOV_TOKEN="50dd5c2e-4259-4cfa-97a7-b4429e0d179e"

before_install:

  # Increase size of database drive
  - sudo mount -o remount,size=50% /var/ramfs

  # Set up the databases - install seqrepo and UTA
  - mysql -e 'CREATE DATABASE validator;'
  - df -h

  # seqrepo needs bgzip from htslib, in ubuntu this is included in the tabix package
  - sudo apt-get -y install tabix

  ## prep psql, get and load vvta db dump
  - createuser -e --createdb  uta_admin
  ### for local use we probably just need to add -P to createuser and use uta_admin, but that spawns an interactive prompt
  ### also we need to test that the database works with only public permissions too, as should be for any web attached user
  - createdb -e vvta -O uta_admin
  - psql -d vvta -U postgres -c "CREATE USER ta_user WITH PASSWORD 'read_only'"
  - wget --output-document=VVTA_2020_dev_no_seq.psql.gz  https://www528.lamp.le.ac.uk/vvdata/vvta/VVTA_2020_dev_no_seq.psql.gz
  - gunzip -k -c VVTA_2020_dev_no_seq.psql.gz | psql --quiet vvta
  - psql -d vvta -U postgres -c 'GRANT SELECT ON ALL TABLES IN SCHEMA public TO ta_user;'

  # Copy configuration file
  - cp configuration/travis.ini "$HOME"/.variantvalidator

  # Get validator database
  - wget --output-document=validator_2020-10-01.sql.gz hhttps://www528.lamp.le.ac.uk/vvdata/validator/validator_2020-10-01.sql.gz
  - gunzip validator_2020-10-01.sql.gz

install:

  # Test dependencies
  - pip install -r requirements_dev.txt
  - pip install -e .

  ## get seqrepo data and load it into now installed seqrepo
  - mkdir "$HOME"/vvta_seqrepo
  - seqrepo --root-directory "$HOME"/vvta_seqrepo init
  - wget --output-document=VVTA_2020_dev_NonG_ref_seq.fa.gz https://www528.lamp.le.ac.uk/vvdata/vvta/VVTA_2020_dev_NonG_ref_seq.fa.gz
  - gunzip -k --stdout VVTA_2020_dev_NonG_ref_seq.fa.gz | seqrepo --root-directory "$HOME"/vvta_seqrepo load -n local -  &>sr_log.txt
  - tail sr_log.txt
  - wget https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.25_GRCh37.p13/GCF_000001405.25_GRCh37.p13_genomic.fna.gz
  - travis_wait gunzip -k --stdout  GCF_000001405.*GRCh37*_genomic.fna.gz | sed -e 's/>\([^ ]\+\).*/>\1/' |seqrepo --root-directory "$HOME"/vvta_seqrepo load -n local -  &>sr_log.txt
  - tail sr_log.txt
  - wget https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.39_GRCh38.p13/GCF_000001405.39_GRCh38.p13_genomic.fna.gz
  - travis_wait gunzip -k --stdout  GCF_000001405.*GRCh38*_genomic.fna.gz | sed -e 's/>\([^ ]\+\).*/>\1/' |seqrepo --root-directory "$HOME"/vvta_seqrepo load -n local - &>sr_log.txt
  - tail sr_log.txt



  # Set up validator database
  - mysql validator < validator_2020-10-01.sql

  #  - update_vdb.py
  - df -h

script:

  - pytest --cov-report=term --cov=VariantValidator/ # will run all tests in the package

after_script:
  - codecov
