git+https://github.com/openvar/vv_hgvs@master#egg=vvhgvs
biocommons.seqrepo>=0.5.1
httplib2>=0.9.0
configparser>=3.5.0
pyliftover>=0.3
biotools>=0.3.0
mysql-connector-python
requests
biopython==1.74
pytest>=3.6
pytest-cov
codecov
